astroid==1.6.4
attrs==18.1.0
Babel==2.6.0
certifi==2018.4.16
chardet==3.0.4
Django==2.2.13
django-extensions==2.1.7
django-phonenumber-field==2.1.0
djangorestframework==3.10.0
dotplus==0.3
graphviz==0.10.1
idna==2.6
isort==4.3.4
lazy-object-proxy==1.3.1
mccabe==0.6.1
mock==2.0.0
more-itertools==4.1.0
mysqlclient==1.3.14
pbr==4.0.2
phonenumbers==8.10.3
pluggy==0.6.0
py==1.5.3
pydot==1.4.1
PyMySQL==0.9.3
pyparsing==2.4.0
pytest==3.5.1
pytz==2018.9
requests==2.20.0
six==1.11.0
urllib3==1.24.2
wrapt==1.10.11
