



{%extends 'admin_base.html'%}
{% load static%}

{%block content%}
        {% include 'admin_panel/navigation_bar.html'%}
        {% include 'admin_panel/department/side_navigation.html'%}
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Basic List</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">Basic List</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <!--#ADDED teachers list using ListView:CBV-->

                            <h2>Pending Students For Approval</h2>
                            <div class="table-responsive" style="border: 2px solid teal;border-radius: 5px">
                                <table class="table">
                                        <thead>
                                          <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone No</th>
                                              <th>Approve</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {%for students in pending_students%}
                                          <tr>
                                            <td>{{students.name}}</td>
                                            <td>{{students.email}}</td>
                                            <td>{{students.phone_no}}</td>
                                              <td>
                                                  <form method="post" action="{%url 'myapp:approve_student'  student_id=students.id %} ">
                                                      {% csrf_token %}
                                                    <button type="submit" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-ok"></span></button>
                                                  </form>

                                              </td>
                                          </tr>
                                        {%endfor%}
                                        </tbody>
                              </table>

                            </div><br>
                            <div class="alert alert-info">
                                            <strong>Click on  button to approve request to current department.</strong>
                                        </div>
                            <h2>Students enrolled in current department</h2>
                            <div class="table-responsive" style="border: 2px solid teal;border-radius: 5px">
                                <table class="table">
                                        <thead>
                                          <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone No</th>
                                              <th>Remove</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          {%for student in approved_student%}
                                         <tr>
                                            <td>{{student.s.name}}</td> <!-- needed url to redirect to detail view-->
                                            <td>{{student.s.email}}</td>
                                            <td>{{student.s.phone_no}}</td>
                                             <td>

                                             <form method="post" action="{%url 'myapp:remove_student'  student_id=student.s.id %} ">
                                                      {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger btn-xs"> <span class="glyphicon glyphicon-trash"></span></button>
                                                  </form>

                                              </td>
                                          </tr>
                                        {%endfor%}
                                        </tbody>
                              </table>

                            </div>
                            <h3>Student can be directly manage by clicking the Student's name</h3>
<!--                            <h3 class="box-title">Basic Table</h3>-->
<!--                            <p class="text-muted">Add class <code>.table</code></p>-->
<!--                            <div class="table-responsive">-->
<!--                                <table class="table">-->
<!--                                    <thead>-->
<!--                                        <tr>-->
<!--                                            <th>#</th>-->
<!--                                            <th>First Name</th>-->
<!--                                            <th>Last Name</th>-->
<!--                                            <th>Username</th>-->
<!--                                            <th>Role</th>-->
<!--                                        </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->
<!--                                        <tr>-->
<!--                                            <td>1</td>-->
<!--                                            <td>Deshmukh</td>-->
<!--                                            <td>Prohaska</td>-->
<!--                                            <td>@Genelia</td>-->
<!--                                            <td>admin</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>2</td>-->
<!--                                            <td>Deshmukh</td>-->
<!--                                            <td>Gaylord</td>-->
<!--                                            <td>@Ritesh</td>-->
<!--                                            <td>member</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>3</td>-->
<!--                                            <td>Sanghani</td>-->
<!--                                            <td>Gusikowski</td>-->
<!--                                            <td>@Govinda</td>-->
<!--                                            <td>developer</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>4</td>-->
<!--                                            <td>Roshan</td>-->
<!--                                            <td>Rogahn</td>-->
<!--                                            <td>@Hritik</td>-->
<!--                                            <td>supporter</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>5</td>-->
<!--                                            <td>Joshi</td>-->
<!--                                            <td>Hickle</td>-->
<!--                                            <td>@Maruti</td>-->
<!--                                            <td>member</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>6</td>-->
<!--                                            <td>Nigam</td>-->
<!--                                            <td>Eichmann</td>-->
<!--                                            <td>@Sonu</td>-->
<!--                                            <td>supporter</td>-->
<!--                                        </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
    </div>
{%endblock%}
