{%load static%}
<!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li style="padding: 70px 0 0;">
                        <a href="{%url 'myapp:user_panel'%}" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="{%url 'myapp:user_profile'%}" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i>Profile</a>
                    </li>
                    <li>
                        <a href="{%url 'myapp:teacher_list'%}" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i>Manage Teachers</a>
                    </li>
                    <li>
                        <a href="{% url 'myapp:manage_student' %}" class="waves-effect"><i class="fa fa-columns fa-fw" aria-hidden="true"></i>Manage Students</a>
                    </li>
                    <li>
                        <a href="{% url 'myapp:course_list' %}" class="waves-effect"><i class="fa fa-columns fa-fw" aria-hidden="true"></i>Courses Details</a>
                    </li>

                </ul>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ===========================================================