{%extends 'admin_base.html'%}
{%load static%}

{%block js%}
<script>
function mouseoverPass() {
  var obj = document.getElementById('password');
  obj.type = "text";
}
function mouseoutPass() {
  var obj = document.getElementById('password');
  obj.type = "password";
}
</script>
{%endblock%}


{%block content%}

{%include 'admin_panel/navigation_bar.html'%}
{%include 'admin_panel/side_navigation.html'%}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Profile page</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">Profile Page</li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <!-- .row -->

                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="white-box">
                            <div class="user-bg">

                                <div class="overlay-box" style=" background-image: linear-gradient(to right top, #d098b8, #be8cb6, #a882b3, #9078b1, #7370ad, #5a71ac, #3e71a9, #1871a2, #00779b, #117c91, #2c7f87, #43827e);">
                                    <div class="user-content">
                                        <a href="javascript:void(0)"><img src="{% static 'admin_data/plugins/images/users/genu.jpg' %}" class="thumb-lg img-circle" alt="img"></a>
                                        {%for d in details%}
                                        <h4 class="text-white">{{d.username}}</h4>
                                        <h5 class="text-white">{{d.email}}</h5> </div>
                                        {%endfor%}
                                </div>
                            </div>
                            <div class="user-btm-box">
                                <div class="col-md-4 col-sm-4 text-center">
                                    <p class="text-purple"><i class="ti-facebook"></i></p>
                                    <h1>Abs</h1> </div>
                                <div class="col-md-4 col-sm-4 text-center">
                                    <p class="text-blue"><i class="ti-twitter"></i></p>
                                    <h1>Pre</h1> </div>
                                <div class="col-md-4 col-sm-4 text-center">
                                    <p class="text-danger"><i class="ti-dribbble"></i></p>
                                    <h1>Total</h1> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="white-box">
                            <form class="form-horizontal form-material" method="post">

                                {%csrf_token%}

                                {%for d in details%}

                                <div class="form-group">
                                    <label for="example-email" class="col-md-12">Email</label>
                                    <div class="col-md-12">
                                        <input type="email" value="{{d.email}}" class="form-control form-control-line" name="email" id="example-email" required> </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12">Password</label>
                                    <div class="col-md-12">
                                        <input type="password" value="{{d.password}}" class="form-control form-control-line" id="password" name="password" onmouseover="mouseoverPass();" onmouseout="mouseoutPass();" required> </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12">Phone No</label>
                                    <div class="col-md-12">
                                        <input type="text" value="{{d.phone_no}}" class="form-control form-control-line" name="phone" required> </div>
                                </div>

                                {%endfor%}

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success" type="submit">Update Profile</button>

                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="alert alert-info">
                    <h4 align="center">You are logged In as <span style="color:green"><i>{{request.session.type}}. </i></span> </h4>
                </div>
            </div>

            <!-- /.container-fluid -->
        </div>



{%endblock%}