{%extends 'admin_base.html'%}
{% load static%}

{%block content%}
        {% include 'admin_panel/navigation_bar.html'%}
        {% include 'admin_panel/student/side_navigation.html'%}
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Ledger</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">Ledger</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /row -->
                <div class="row">
                    <div class="col-sm-12">
                        {%if course_filter%}
                        <h2>Currently filtering:<i> {{course_filter}}</i></h2>
                        {%endif%}
                        <div class="white-box">
                            <h3 class="box-title">Attended Classes</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Course</th>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Instructor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {%for object in attended_classes_info%}

                                    {%if course_filter%}
                                        {%if object.course_id.name == course_filter%}
                                            <tr>
                                                <td>{{object.course_id.name}}</td>
                                                <td>{{object.class_id.date}}</td>
                                                <td>{{object.class_id.time}}</td>
                                                <td>{{object.t_id.name}}</td>
                                            </tr>
                                        {%endif%}
                                    {%else%}
                                        <tr>
                                            <td>{{object.course_id.name}}</td>
                                            <td>{{object.class_id.date}}</td>
                                            <td>{{object.class_id.time}}</td>
                                            <td>{{object.t_id.name}}</td>
                                        </tr>
                                    {%endif%}

                                    {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <form  method="post">
                            {%csrf_token%}
                            <button class="btn btn-primary">Filter</button>
                            <div class="col-md-3 col-sm-4 col-xs-6 pull-right">
                                <h3>Course Filter</h3>
                                 <select class="form-control pull-right row b-none" name="course_filter" >
                                     {%for object in courses_enrolled%}
                                    <option value="{{object.c.name}}">{{object.c.name}}</option>
                                     {%endfor%}
                                </select>
                            </div>
                        </form>

                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

{%endblock%}