{%extends 'base_template.html'%}

{%block style%}
<style>

body, html{
    height: 100%;
 	background-repeat: no-repeat;
 	background-color: #d3d3d3;
}

.main{

}

h1.title {
	font-size: 50px;
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}


</style>

{%endblock%}

{%block content%}

{%include 'app/navigation_bar.html'%}


		<div class="container" >
			<div class="row main">
				<div class="panel-heading">

	            </div>
				<div class="main-login main-center">
					<form class="form-horizontal" method="post" >

						{%if message%}
						<div class="form-group ">
							<div class="alert alert-warning">
								<strong>{{message}}</strong>
							</div>
						</div>
						{%endif%}

						{%csrf_token%}


						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username" required />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" required/>
								</div>
							</div>
						</div>


                        <div class="form-group">
                                <label class="radio-inline">
                                        <input type="radio" name="optradio" value="student" required>Student
                                </label>

                                <label class="radio-inline">
                                    <input type="radio" name="optradio" value="teacher">Teacher
                                </label>
                        </div>

                        <div class="form-group ">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Login</button>
						</div>


                        <p><strong>Not a user yet,</strong> <a href="{%url 'myapp:register'%}">Register</a></p>

					</form>
				</div>
			</div>
		</div>

{%endblock%}